.Container {
  background-color: gray;
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  width: 2000;
  height: calc(1080px - 111px);
}

.InputBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.InputBox {
  width: 100%;
  border-radius: 10px;
  border-width: 3px;
  height: 40px;
  border-color: black;
  margin: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px;
  font-size: 20px;
}

.TextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Text {
  font: 600;
  font-size: 20px;
  font-family: serif;
  font-style: italic;
  color: black;
}

.ButtonBoxContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.ButtonBox {
  margin: 20px;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  color: white;
  background-color: #601010;
}
